<div class="container">
<o-form-container breadcrumb="yes" breadcrumb-label-columns="name" breadcrumb-separator=", " class="fill-form">
      <o-form #form attr="Tournament_form_edit" 
        service="Tournament" 
        entity="Tournament" 
        fxLayout="column" 
        show-header="yes" 
        header-actions="R;I;U;D"
        #oDetailForm keys="id" 
        keys-sql-types="INTEGER" 
        show-header-navigation="yes"
        (onDataLoaded)="onDataLoaded($event)">

  <o-row attr="row1" layout-align="start stretch">
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
      
      <o-text-input #name attr="name" label=" name*" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-date-input #start_date attr="start_date" type="timestamp" label="start_date" editable="no" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
      
      <o-date-input #end_date attr="end_date" type="timestamp" label="end_date" editable="no" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
      
      <o-integer-input #id attr="id" label="id" type="integer" editable="no" required="no" ></o-integer-input>
      
    </div>
  </o-row>
      
      <mat-tab-group fxFill>
        
        <mat-tab label="PLAYERTOURNAMENT-tournament_id">
    <div layout-padding>
      <o-table 
        attr="PlayerTournamentTable" 
        service="PlayerTournament" 
        entity="PlayerTournament" 
        keys="id"
        parent-keys="tournament_id:id"
        columns="tournament_id;player_id;tournament_id;id"  
        horizontal-scroll="yes"
        detail-form-route="PlayerTournament" 
        edit-form-route="PlayerTournament"
        visible-columns="tournament_id;player_id;tournament_id;id"  
        sort-columns="tournament_id" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column attr="tournament_id" title="tournament_id">
    <o-table-cell-renderer-service attr="tournament_id" 
        service="Tournament" entity="TournamentType" columns="id;name"
        parent-keys="id:tournament_id"
        value-column="name" keys="tournament_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="player_id" title="player_id">
    <o-table-cell-renderer-service attr="player_id" 
        service="Player" entity="PlayerType" columns="id;username"
        parent-keys="id:player_id"
        value-column="username" keys="player_id"
        visible-columns="username" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="tournament_id" title="tournament_id">
    <o-table-cell-renderer-service attr="tournament_id" 
        service="Tournament" entity="TournamentType" columns="id;name"
        parent-keys="id:tournament_id"
        value-column="name" keys="tournament_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #id attr="id" title="id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
      </mat-tab-group>
      
    </o-form>
  </o-form-container>
</div>